<%= content_for :head do %>
    <title>New Group | lol Mashup</title>
<% end %>

<%= content_for :content do %>
    <%= render 'shared/navbar' %>
    <div class="container">
        <%= render 'shared/notices' %>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <div class="card border-primary" >
                    <div class="card-header">New Group</div>
                    <div class="card-body">
                        <form class="form" method="post" action="/group/create" >
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <div class="form-group">
                                <label for="name" >Group Name</label>
                                <input type="text" required class="form-control" id="name" name="name" placeholder="e.g. 5v5 Trashup" value="<%= @match_group_params[:name] %>" autocomplete="new-password">
                            </div>
                            <div class="form-group d-none">
                                <label for="password" >Password</label>
                                <input type="password" class="form-control" id="password" name="password" value="<%= @match_group_params[:password] %>"placeholder="Password (leave blank for none)" autocomplete="new-password">
                            </div>
                            <div class="form-group">
                                <label for="password" >Region</label>
                                <select class="form-control" id="region" name="region">
                                    <% ServerRegion.all.each do |region| %>
                                        <option <%= 'selected' if @match_group_params[:region] == region[:region_code]%> value="<%= region[:region_code] %>"><%= region[:name] %></option>
                                    <% end %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="password" >Game Mode</label>
                                <select type="number" class="form-control" id="game_mode_id" name="game_mode_id" max="10" value="35">
                                    <% GameMode.all.each do |cur_mode| %>
                                        <option <%= 'selected' if "#{@match_group_params[:game_mode_id]}" == "#{cur_mode.id}" %> value="<%= cur_mode.id %>"><%= cur_mode.name %></option>
                                    <% end%>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="team1_name" >Blue Team Name</label>
                                        <input type="text" class="form-control" id="team1_name" name="team1_name" placeholder="Blue Team" value="<%= @match_group_params[:team1_name] %>" autocomplete="new-password">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="team1_name" >Red Team Name</label>
                                        <input type="text" class="form-control" id="team2_name" name="team2_name" placeholder="Red Team" value="<%= @match_group_params[:team2_name] %>" autocomplete="new-password">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="size" >Group Size</label>
                                <div class="range-slider input-group">
                                    <span class="range-slider__value col-1">0</span>
                                    <input type="range" class="col-11 custom-range range-slider__range" id="size" name="size" min="1" max="10" value="<%= @match_group_params[:size] %>">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-icon ">Create </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script>
        var rangeSlider = function(){
            var slider = $('.range-slider'),
                range = $('.range-slider__range'),
                value = $('.range-slider__value');
                
            slider.each(function(){

                value.each(function(){
                var value = $(this).next().attr('value');
                    $(this).html(value);
                });

                range.on('input', function(){
                    $(this).prev(value).html(this.value);
                });
            });
        };

        rangeSlider();
    </script>
<% end %>
