<%= content_for :head do %>
    <title>New Group | LoL Mashup</title>
<% end %>

<%= content_for :content do %>
    <%= render 'shared/navbar' %>
    <div class="container">
        <div class="card border-primary ">
            <div class="card-header bg-dark"><h1 class='text-center'><%= @group.name%> <span class="badge badge-success"><%= @group.region.upcase%></span></h1></div>
            <div class="card-body bg-light">
                <h4 class="card-title ">
                    <div class="row">
                        <div class="col-6 text-right">Game Mode:</div>
                        <div class="col-6">
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= @group.game_mode.present? ? @group.game_mode.name : 'None' %></a>
                            <div class="dropdown-menu">
                                <% GameMode.all.each do |cur_mode| %>
                                    <a class="dropdown-item" href="/group/<%= @group.uuid %>/change_game_mode/<%= cur_mode.id %>"><%= cur_mode.name %></a>
                                <% end%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right">Players:</div>
                        <div class="col-6"> <%= @group.summoner_match_groups.count%> / <%= @group.size%></div>
                        
                    </div>
                </h4>
                <hr>
                <p class="card-text ">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <% if @group.summoner_match_groups.count < @group.size %>
                                
                                <form class="form-inline" method="post" action="/group/add_summoner" >
                                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                    <%= hidden_field_tag :uuid, @group.uuid %>
                                    <%= hidden_field_tag :region, @group.region %>
                                    <label class="mr-sm-2" >Add Summoner:</label>
                                    <input class="form-control " type="text" id="summoner_name" name="summoner_name" placeholder="Summoner Name" >
                                    <button class="btn btn-secondary" type="submit">Add</button>
                                </form>
                            <% else %>
                                    <a href="/group/<%= @group.uuid %>/roll" class="btn btn-primary btn-block">Roll team</a>
                            <% end %>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </p>
            </div>
        </div>
        <%= render 'shared/notices' %>
    </div>
    <div class="container-fluid mt-5">
        <div class='row'>
            <% @group.summoner_match_groups.each_with_index do |summoner_match_group,index| %>
                <div class='col-xl-6'>
                    <div class="card border-success summoner-card <%= 'summoner-card-right' if index % 2 == 0 %>">
                        <div class="card-header bg-success">
                            <div class='row'>
                                <div class='col-4'>
                                    <a class='text-white' href="/summoner/<%= @group.region %>/<%= summoner_match_group.summoner.name%>" target="_blank">
                                        <img class='profile-pp rounded-circle' src="http://ddragon.leagueoflegends.com/cdn/11.1.1/img/profileicon/<%= summoner_match_group.summoner.profile_icon_id %>.png">
                                        <span><%= summoner_match_group.summoner.name%></span>
                                    </a>
                                </div>
                                <div class='col-4'>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="roll-result">
                                <% if summoner_match_group.roll_result.present? %>
                                    <h4 class="lane-role bg-info text-center"><%= summoner_match_group.roll_result.lane_role.name%></h4>
                                    <div class="build-container">
                                        <div class=' champ'>
                                            <img src="http://ddragon.leagueoflegends.com/cdn/11.1.1/img/champion/<%=summoner_match_group.roll_result.champion.imagename %>" class="img-fluid ">
                                            <span class='champ-name'><%= summoner_match_group.roll_result.champion.name%></span>
                                        </div>
                                        <div class='champ-spell'>
                                            <img src="http://ddragon.leagueoflegends.com/cdn/11.1.1/img/spell/<%=summoner_match_group.roll_result.champion_spell.imagename %>" class="img-fluid border border-success" data-toggle="tooltip"  title="<%=summoner_match_group.roll_result.champion_spell.name %>">
                                        </div>
                                        <div class="item-spell-section">
                                            <div class='item-list'>
                                                <% summoner_match_group.roll_result.item_build.split(',').each do |item_id| %>
                                                    <% cur_item = Item.find(item_id) %>
                                                    <img src="http://ddragon.leagueoflegends.com/cdn/11.1.1/img/item/<%=cur_item.imagename %>" class="item-pp <%= cur_item.rarity == 'Mythic' ? 'border border-primary' : 'border border-light' %>" data-toggle="tooltip"  title="<%=cur_item.name %>">
                                                <% end %>
                                            </div>
                                            <div class='summoner-spell-list'>
                                                <% summoner_match_group.roll_result.summoner_spells.split(',').each do |spell_id| %>
                                                    <% cur_spell = SummonerSpell.find(spell_id) %>
                                                    <img src="http://ddragon.leagueoflegends.com/cdn/11.1.1/img/spell/<%=cur_spell.imagename %>" class="spell-pp border " data-toggle="tooltip"  title="<%=cur_spell.name %>">
                                                <% end %>
                                            </div>
                                            <% cur_rune_page = RunePage.from_string(summoner_match_group.roll_result.rune_build) %>
                                            
                                            <div class='rune-list'>
                                                <img src="<%= image_url(cur_rune_page.rune_page[:primary][:rune_tree].icon) %>" class="rune-pp rune-tree-pp border border-secondary" data-toggle="tooltip"  title="<%=cur_rune_page.rune_page[:primary][:rune_tree].name %>">
                                                <% cur_rune_page.rune_page[:primary][:runes].each do |cur_rune| %>
                                                    <img src="<%= image_url(cur_rune.icon) %>" class="rune-pp border border-secondary" data-toggle="tooltip"  title="<%=cur_rune.name %>">
                                                <% end %>
                                                <img src="<%= image_url(cur_rune_page.rune_page[:secondary][:rune_tree].icon) %>" class="rune-pp rune-tree-pp rune-tree-secondary-pp border border-secondary" data-toggle="tooltip"  title="<%=cur_rune_page.rune_page[:secondary][:rune_tree].name %>">
                                                <% cur_rune_page.rune_page[:secondary][:runes].each do |cur_rune| %>
                                                    <img src="<%= image_url(cur_rune.icon) %>" class="rune-pp border border-secondary" data-toggle="tooltip"  title="<%=cur_rune.name %>">
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                <% else %>
                                    <h1 class='text-center'>Waiting for roll result...</h1>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% end %>