<%= content_for :head do %>
    <title>lol Mashup | Group Info</title>
<% end %>

<%= content_for :content do %>
    <%= render 'shared/navbar' %>
    <div class="container">
        <div class="card border-primary ">
            <div class="card-header bg-dark"><h1 class='text-center'><%= @group.name%><a href="/group/<%= @group.uuid %>/edit" class='btn btn-info float-right mdi mdi-playlist-edit'> Edit</a></h1></div>
            <div class="card-body bg-light">
                <h4 class="card-title ">
                    <div class="row">
                        <div class="col-6 text-right">Server Region:</div>
                        <div class="col-6"> <%= @group.region.upcase%></div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right">Game Mode:</div>
                        <div class="col-6">
                            <%= @group.game_mode.try(:name) or 'None' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right">Players:</div>
                        <div class="col-6"> <%= @group.summoner_match_groups.count%> / <%= @group.size%></div>
                    </div>
                </h4>
                <hr>
                <p class="card-text ">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <% if @group.summoner_match_groups.count < @group.size %>
                                <form id="add-summoner-form" class="form-inline" method="post" action="/group/add_summoner" >
                                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                    <%= hidden_field_tag :uuid, @group.uuid %>
                                    <%= hidden_field_tag :region, @group.region %>
                                    <label class="mr-sm-2" >Add Summoner:</label>
                                    <input class="form-control " required type="text" id="summoner_name" name="summoner_name" placeholder="Summoner Name" >
                                    <button  id="add-button" class="btn btn-secondary btn-icon mdi mdi-delete-empty" type="submit"> Add</button>
                                </form>
                            <% elsif @group.summoner_match_groups.count > @group.size %>
                                <div class='alert alert-danger text-center'>Too many players in group, please remove at least <strong><%= @group.summoner_match_groups.count - @group.size %></strong></div>
                            <% else %>
                                <a id="roll-button" href="/group/<%= @group.uuid %>/roll" class="btn btn-primary btn-block mdi mdi-paper-roll-outline"> Roll</a>
                            <% end %>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </p>
            </div>
        </div>
        <%= render 'shared/notices' %>
    </div>
    <div class="container-fluid mt-5">
        <div class='row'>
            <% if @group.win_condition.present? %>
                <div class="container">
                    <div class='row'>
                        <div class="col"></div>
                        <div class="col-8">
                            <div class="card border-primary win-condition-card">
                                <div class="card-header bg-dark">
                                    <span class="win-condition-label">Win Condition</span>
                                    <h1 class='text-center win-condition-title'><%= @group.win_condition.title %></h1>
                                    <img src="<%= image_url('win-ribbon.png') %>" class="win-condition-medal">
                                </div>
                                <div class="card-body bg-light d-none">
                                    <p class="card-text ">
                                        <p><%= @group.win_condition.description %></p>
                                    </p>
                                </div>
                                <div class='match-result-button text-center'>
                                    <a class="btn btn-block btn-secondary" href="/group/<%= @group.uuid %>/post_match_results" data-toggle="tooltip"  title="Results may take a while to be available after match has completed">View Match results</a>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            <% end %>

            <% @group.summoner_match_groups.order('summoner_match_groups.lane_role_id, summoner_match_groups.roll_result_id, summoner_match_groups.team').each_with_index do |summoner_match_group,index| %>
                <%= render 'summoner_card', :locals => {:index => index, group: @group, summoner_match_group: summoner_match_group } %>
            <% end %>
        </div>
    </div>
    <script>
        var last_update_time = <%= @group.updated_at.to_i %>;
        var refresh_delay = <%= @refresh_delay %>;
        function check_reload() {
            $.get('/group/<%= @group.uuid %>/last_updated', function(response) {
                // console.log('check_reload', response);
                if (last_update_time != response) {
                    location.reload();
                    // console.log('reload!');
                }
                wait_check_reload();
            })
        }
        function wait_check_reload() {
            setTimeout(() => {
                check_reload();
            }, refresh_delay);
        }
        wait_check_reload();

        $("#roll-button").on('click', function(){
            $(this).addClass('disabled mdi-loading mdi-spin');
            $(this).removeClass('mdi-paper-roll-outline');
            $(this).html(" <%= @roll_message %>")
        })
        $("#add-summoner-form").on('submit', function(){
            $("#add-button").addClass('disabled mdi-loading mdi-spin');
            $("#add-button").removeClass('mdi-paper-roll-outline');
            $("#add-button").html(" adding....")
        })
    </script>
<% end %>