<%= content_for :head do %>
    <title><%= @summoner_name%> | LoL Mashup</title>
<% end %>

<%= content_for :content do %>
    <%= @summoner_data %>
    <hr>
    <p>Found mastery for <%= @summoner_champ_masteries.count %> champions:
    <% @summoner_champ_masteries.each do |champ_mast| %>
        <%= champ_mast %>
        <br>
    <% end %>
<% end %>
